---
layout: page
description: "从这里看到整个世界！"
---

<style>
    /*这里修改提示框的字体样式*/

    .bdSug_wpr {
        color: black;
    }
</style>
<div class="post-preview">
    <h2 class="post-title">

        <h2>
    <form action="https://www.baidu.com/baidu" target="_blank">
        <!--
                    将两个元素整合为一体需要下面两步~
                    1.将div的Class属性改变成form-inline 可以让下面的两个input并排显示-->
        <div class="form-inline input-group">
            <!--UTF-8编码-->
            <input name=ie type=HIDDEN value=utf-8/>
            <input name=tn type=HIDDEN value=baidu/>
            <!--2.利用span标签的 input-group-btn 属性包裹一个input元素-->
            <span class="input-group-btn">
                <!-- baiduSug: 
                            当设置baiduSug=1时，用户选中sug词条时默认执行表单提交动作；
                            当设置baiduSug=2时，用户选中sug词条时不执行表单提交动作。
                            style :     "width:260px;" 调整搜索框长度
                        -->
                <input id="kw" type="text" class="form-control" placeholder="百度搜索" name="word" size="30" baiduSug="1" style="width:40%;" />
                <!--提交按钮-->
<input type="submit" class="btn btn-default" value="百度一下" style="padding:6px 25px 6px 25px;" />
            </span>
        </div>
        <hr>
    </form>
</div>


{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <!-- <div class="post-content-preview">
            {{ post.content | strip_html | truncate:200 }}
        </div> -->
    </a>
    <!-- <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
    </p> -->
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}

<script src="{{ " /js/1534993777.js " | prepend: site.baseurl }}"></script>

